.bg-red {
	background: #c25b53;
}

.bg-blue {
	background: #534ed9;
}

.bg-yellow {
	background: #e0d643;
}

.bg-green {
	background: #4fe35e;
}

.bg-white {
	background: white;
}

.bg-black {
	background: #111212;
}

.text-white {
	color: white;
}

.text-black {
	color: #323336;;
}

.text-blue {
	color: #534ed9;	
}

.text-red {
	color: #c25b53;	
}

.text-yellow {
	color: #e0d643;
}

.text-green {
	color: #4fe35e;
}

.text-grey {
	color: #8c94a1;
}

.bg-grey {
	color: #8c94a1;
}

.text-gray {
	color: #8c94a1;
}

.bg-gray {
	color: #8c94a1;
}

.btn-red {
	background: #c25b53;
	border: 1px solid transparent;
	color: white;
}

.btn-red:hover {
	background: #d17575;
}

.btn-outline-red {
	border: 1px solid #c25b53;
	background: transparent;
	color: #c25b53;
}

.btn-outline-red:hover {
	background: #c25b53;
	color: white;
}